
img {
    width: 100%;
    padding: 5px;
}

h1 {
    color: black;
    font-size: 24px;
    text-align: center;
    text-shadow: 1px 1px white
}

body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.gifContainer {
  display: inline-block;
}

.jumbotron {
    color: white;
    background-color: #B83A27;
    text-shadow: 0px 0px white;
}

#searchbutton , #searchInput , #resetButton {
    color: white;
    background-color: #B83A27;
}

#searchButton{
    height:34px;
}

#showMarvel {
    height: auto;
    width: 350px;
    background-color: #B83A27;

}

#showGifs {
    height: auto;
    width: 350px;
    background-color: #B83A27;
}
